# Mongo DB URI
MONGODB_URI=your_mongodb_uri

# Food Database API Key - https://developer.edamam.com/
FOOD_API_KEY=food_api_key
APP_ID=app_id

# BASE URLS OF DEPLOYED APPS
FRONTEND_URL=https://frontend.com
BACKEND_URL=http://localhost:5000

